/* RESET CSS */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

header h1 {
    margin: 10px 0;
}
header h2  {
    margin: 10px 0;
}
/* Estilo da navegacao */
nav {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 15px 0;
}
nav ul li a{
    padding: 5px 10px;
    text-decoration: none;
}
/* Estilo da secao About */
section#about{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section#about div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.conteudo-about {
    margin: 10px;
}
.conteudo-about h3 {
    margin: 20px;
}