/* RESET CSS */
* {
    margin: 0;
    padding: 0;
}

/* Estilo do header */
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px 0;
}

header h1 {
    margin: 10px 0;
}
header h2  {
    margin: 10px 0;
}
/* Estilo da navegacao */
nav {
    /* background-color: red; */
    width: 100%;
    display: flex;
    justify-content: center;
}
nav ul {
    list-style: none;
    display: flex;
    margin: 15px 0;
}
nav ul li a{
    padding: 5px 10px;
    text-decoration: none;
}
/* Estilo da secao About */
section#about{
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#about h2 {
    margin: 15px 0;
}

section#about div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#about div img {
    width: 100%;
    max-width: 250px;
}
.conteudo-about {
    margin: 10px;
}
.conteudo-about h3 {
    margin: 20px;
}

/* Section portifolio */
section#portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
section#portfolio div{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 20px 0; */
}
section#portfolio div div img{
    margin: 10px;
}
/* Estilo da sewction social */
section#social{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
}
section#social nav {
    width: 100%;
}

section#social nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
section#social nav ul li{
    width: 100px;
    height: 100px;
    /* background-color: red; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: 1px solid #eee;
}

footer{
    margin: 20px 0;
    text-align: center;
}

/* section#social nav ul li a {
    padding: 50px;
} */

/* media queries */
@media(min-width: 768px) {
    section#about > div {
        flex-direction: row;
        align-items: flex-start;
        
    }
    .conteudo-about {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    section#portfolio h2{
        margin-bottom: 10px;
    }
    section#portfolio > div div{
        flex-direction: row;
    }

   
}





