<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Meu site</title>
    <link rel="stylesheet" href="estilo.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <header>
        <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto num parque" />
        <h1>Talita Oliveira</h1>
        <h2>Software Developer</h2>
        <nav>
            <ul>
                <li>
                    <a href="#home">Home</a>
                </li>
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a href="#social">Social</a>
                </li>
            </ul>
        </nav>
    </header>

    <section id="about">
        <h2>About</h2>
        <div>
            <img src="https://dummyimage.com/400x400/b7d46f/fff" alt="Minha na formatura" />
            <div class="conteudo-about">
               <h3>Quem eu sou</h3>
               <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic fuga cumque repellat ad rem pariatur quisquam molestiae sapiente suscipit, nulla, exercitationem ullam non ipsam a soluta molestias dignissimos, excepturi architecto?</p>
            </div>
        </div>
    </section>

    <section id="portfolio">
        <h2>Portfolio</h2>
        <div>
            <div>
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 1" />
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 2" />
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 3" />
            </div>
            <div>
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 4" />
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 5" />
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 6" />
            </div>
            <div>
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 7" />
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 8" />
                <img src="https://dummyimage.com/200x200/b7d46f/fff" alt="Minha Foto 9" />
            </div>
        </div>
    </section>

    <section id="social">
        <h2>Social</h2>
        <nav>
            <ul>
                <li>
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">Linkedin</a>
                </li>
                <li>
                    <a href="#">Github</a>
                </li>
            </ul>
        </nav>
    </section>
    
    <footer>
        <p>Desenvolvido por fulano de tal. 2019</p>
    </footer>

</body>
</html>